/* NAVBAR */

.container-fluid {

    position: relative;
    margin-top: -10px;
    width: 100%;
    height: 96px;
    background-color: #282828;

}


.navbar-brand p {

    position: relative;
    margin-top: 17px;
    margin-left: 21px;
    font-style: normal;
    font-weight: 1000;
    font-size: 21px;
    line-height: 31px;
    letter-spacing: 0.175em;
    color: #FBFBFB;


}


.navbar-brand img {

    position: relative;

    height: 65px;
    top: -3px;
}


#logo {

    transition: all 300ms;

}

#logo:hover {

    transform: scale(1.02);
    color: #c7c7c7;


}

.nav-item p {

    position: relative;
    left: 19px;
    margin-top: 17px;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 22px;
    color: #FBFBFB;
    transition: all 300ms;

}



.nav-item p:hover {
    transform: scale(1.04);
    color: #c7c7c7;



}

.navbar-text p {

    position: relative;
    margin-top: 17px;
    margin-left: 80px;
    right: 34px;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 22px;
    color: #FBFBFB;
    transition: all 300ms;

}

.navbar-text p:hover {
    transform: scale(1.04);
    color: #c7c7c7;

}


#iframe {

    height: 160px;
    width: 100%;
    background-color: #E6E0DB;
}


/* INDEX */


#caixaPrin {

    position: relative;
    display: block;
    margin-left: 12px;

    left: -100px;
    top: 60px;
    width: 137%;
    height: 710px;
    border-radius: 30px;
    background-color: #282828;


}

#indexIMG {

    width: 300px;


}

#indexTxt {

    position: relative;
    font-family: 'Libre Caslon Text';
    font-style: normal;
    font-weight: 700;
    font-size: 270%;
    line-height: 86px;
    color: #FBFBFB;
    transition: all 1000ms;
    text-align: center;


}


#caixaSec {

    position: relative;
    display: block;
    left: 115px;
    top: 60px;
    width: 90%;
    height: 710px;
    border-radius: 30px;
    background-color: #AEAEAE;



}

/*animation: 5s normal pisca infinite;
    animation-direction: alternate;
    display: table;
    -webkit-animation-name: teste;
    animation-name: teste;

}


@keyframes teste {

    0% {

        opacity: 100%;
    }

    30% {

       opacity: 0%;
    }


    100% {

        opacity: 0%;
     }



    }


    #caixaSec2 {

        position: relative;
        display: block;
        left: 115px;
        top: 60px;
        width: 90%;
        height: 710px;
        border-radius: 30px;
        background-color: #AEAEAE;
    
    
    
    
        animation: 5s normal pisca infinite;
        animation-direction: alternate;
        display: table;
        -webkit-animation-name: teste;
        animation-name: teste;
    
    }

*/




#imgSec {
    position: relative;
    z-index: -1;
    top: 22px;
    opacity: 80%;
}



#alinhamento {
    position: relative;
    padding-top: 190px;

}



.carousel {
    margin: 0px;
    position: absolute;
    top: 90px;
}

/*colaboradores*/

#colaboradoresTXT {
    margin-bottom: 92px;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 131px;

    color: #5E5343;

}

#card-title {

    color: #443c30;



}

.colaboradoresLINK {



    transition: all 300ms;
}


.colaboradoresLINK:hover {

    transform: scale(1.019);
    animation: 1.4s normal pisca infinite;
    animation-direction: alternate;
    display: table;
    -webkit-animation-name: pisca;
    animation-name: pisca;


}



@-webkit-keyframes pisca {
    0% {

        filter: drop-shadow(0px 0px 15px rgba(0 0 0 / 0%));
    }

    100% {

        filter: drop-shadow(0px 0px 15px rgba(0 0 0 / 90%));
    }
}

@keyframes pisca {

    0% {

        filter: drop-shadow(0px 0px 15px rgba(0 0 0 / 0%));
    }

    100% {

        filter: drop-shadow(0px 0px 15px rgba(0 0 0 / 90%));
    }

}




/* nossa sala */
#nossaSalaImg {

    position: relative;


    top: 121px;

    width: 599px;
    height: 464px;


}

#nossaSalaTitle {

    position: relative;
    margin-left: 55px;

    top: 60px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 76px;
    line-height: 109px;

    color: #5E5343;



}

#nossaSalaTxt {

    position: relative;
    top: 130px;
    margin-left: 55px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    text-align: justify;
    color: #5E5343;

}



/* INTEGRANTE */


#integranteImg1 {

    position: relative;
    padding-top: 30%;



}

#integranteImg2 {

    position: relative;

}

#redesSociais {

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 76px;
    line-height: 109px;

    color: #5E5343;

}

#txtInt {

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    text-align: justify;
    color: #5E5343;


}